<html
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{fragments/layout}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <title>Variant Index::User</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="h2">Variant Index</div>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-1">Id</th>
              <th class="col-2">Name</th>
              <th class="col-6">Description</th>
              <th class="col-1">Category</th>
              <th class="col-2 text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Makanan Ringan</td>
              <td>Variant Makanan</td>
              <td>Makanan</td>
              <td class="d-flex justify-content-center">
                <div class="btn-group">
                  <button class="btn btn-primary fas fa-circle-info"></button>
                  <button class="btn btn-success fas fa-pen-to-square"></button>
                  <button class="btn btn-danger fas fa-trash"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Minumang Kaleng</td>
              <td>Variant Minuman</td>
              <td>Minuman</td>
              <td class="d-flex justify-content-center">
                <div class="btn-group">
                  <button class="btn btn-primary fas fa-circle-info"></button>
                  <button class="btn btn-success fas fa-pen-to-square"></button>
                  <button class="btn btn-danger fas fa-trash"></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
